{% extends "base.html" %}
{% block content %} 
{% load static %}
<h1> More about me </h1>
<ul>
    <li><img src="{% static 'myCVapp/img/github.png' %}" alt="GitHub Icon" width="20" height="20"><a href="https://github.com/osieks">GitHub</a></li>
    <li><img src="{% static 'myCVapp/img/linkedin.png' %}" alt="LinkedIn Icon" width="20" height="20"><a href="https://www.linkedin.com/in/mateusz-dzie%C5%BCok-9318bb244/">LinkedIn</a></li>
    <li><img src="{% static 'myCVapp/img/user.png' %}" alt="Portfolio Icon" width="20" height="20"><a href="http://osiek.zapto.org:8080/">Portfolio</a></li>
  </ul>
  
  

<h1> Link to the projects and their github </h1>
<ul>
<li>

</li>
</ul>
{% endblock %}
